@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("./0DNer7E-akatsuki-wallpaper-hd.jpg");
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.name {
    color: white;
    font-size: 80px;
    margin-top: 13%;
}

.short {
    font-size: 12px;
    font-style: italic;
}

.calculator{
    /* border: 1px solid #686b73; */
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(84, 95, 117, 0.5);
}

input{
    width: 535px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder{
    color: #ffffff;
}

button{
    border: none;
    width: 115px;
    height: 60px;
    margin: 10px;
    border-radius: 0%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: -5px -5px 12px rgb(44, 44, 44);
}

.btn:hover {
    background-color: white;
    color: #242424;
    box-shadow: 0px 0px 15px white;
    transition: ease-in-out 0.3s;
}

.equalBtn{
    background-color: #ff1111;
}

.equalBtn:hover {
    background-color: white;
    color: #ff1111;
    box-shadow: 0px 0px 15px white;
    transition: ease-in-out 0.3s;
}

.operator{
    color: #ff1111;
}

.operator:hover {
    background-color: #ff1111;
    color: black;
    box-shadow: 0px 0px 15px #ff1111;
    transition: ease-in-out 0.3s;
}